@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  color: green;
}

h2 {
  text-align: center;
  color: red;
}

body {
  /*background-image: url('./public/GOKU.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100px;*/
}

footer {
  text-align: center;
}

.grid-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 618px;
}

.border3 {
  display: none;
}

.border4 {
  display: none;
}

.message {
  background-image: url('./public/vegeta.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  float: center;
}

.square {
  align-items: center;
  border: 3px solid orange;
  display: flex;
  font-size: 56px;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.square:hover {
  background-image: url('./public/dragonBall.jpg');
  background-size: contain;
}

.winner {
  color: purple;
  display: none;
  font-size: 32px;
  padding: 10px;
}

.reset {
  margin: 10px;
  padding: 10px;
}
